/*
 * Your Cascading Stylesheet (CSS) code defines the visual aesthetics of your
 * app. If you would like a little more programmer friendly additions, such as
 * variables and mixins (similar to functions), you should look up a CSS
 * preprocessor, such as SASS:
 *
 *  http://sass-lang.com/
 */

#chatForm {
  background: #EEE;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#chatWindow ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#chatWindow ul li {
  padding: 5px 10px;
}

/* Do not underestimate's CSS selection abilities... */
#chatWindow ul li:nth-child(odd) {
  background: #EEE;
}

.chatLog strong {
  font-weight: bold;
  padding-right: 5px;
}

.chatLog small {
  color: #999;
}
